<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBSource" value="127.0.0.1" />
    <add key="DBName" value="highway" />
    <add key="DBPort" value="3306" />
    <add key="DBUserName" value="root" />
    <add key="DBPassword" value="123456" />
    <add key="RefreshTime" value="5"/>
    <add key="OfflineTime" value="60"/>
    <add key="TollStationName" value="南昌收费站"/>
     <!--LED文本记录保存-->
    <add key="LedText1" value=""/>
    <add key="LedText2" value=""/>
    <add key="LedText3" value=""/>
    <add key="LedText4" value=""/>
    <add key="LedText5" value=""/>
    <add key="LedText6" value=""/>
    <add key="LedText7" value=""/>
    <add key="LedText8" value=""/>
    <add key="LedText9" value=""/>
    <add key="LedText10" value=""/>
    <!--LED图片记录保存-->
    <add key="LedPic1" value=""/>
    <add key="LedPic2" value=""/>
    <add key="LedPic3" value=""/>
    <add key="LedPic4" value=""/>
    <add key="LedPic5" value=""/>
    <!--LED视频记录保存-->
    <add key="LedVideo1" value=""/>
    <add key="LedVideo2" value=""/>
    <add key="LedVideo3" value=""/>
    <add key="LedVideo4" value=""/>
    <add key="LedVideo5" value=""/>
  </appSettings>
</configuration>