<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WatchHousePort" value="10008" />
    <add key="PowerPort" value="6000"/>
    <add key="DBSource" value="127.0.0.1" />
    <add key="DBName" value="highway" />
    <add key="DBPort" value="3306" />
    <add key="DBUserName" value="root" />
    <add key="DBPassword" value="root" />
    <add key="PicUrl" value="http://192.168.0.2:99/Photo" />
    <add key="EmployeeUrl" value="http://192.168.0.2:99/EmployeeInfo" />
    <add key="AppUrl" value="http://192.168.0.2:99/App"/>
  </appSettings>
</configuration>